@use '../../styles/vars' as *;

.subscribe {
    background:
        linear-gradient(rgba(244, 244, 244, 0.70)),
        url('../../assets/img/background/subscribe__bg.jpg');
    flex-shrink: 0;
    background-size: 100% 448px;
    height: 448px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        height: 96px;
        width: 96px;
        border-radius: 100px;
    }

    &__info {
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 360px;
    }

    &__italic {
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }

    &__form {
        margin-top: 32px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        overflow: hidden;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: none;
        outline: none;
    }

    &__email {
        flex: 1;
        padding: 7px;
        padding-left: 22px;
        background-color: #E1E1E1;
        border: none;
        outline: none;
    }

    &__email input {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__btn {
        padding: 7px 7px 6px 8px;
        background-color: $colorSelectSite;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        transition: background-color 0.3s;
        border: none;
        outline: none;
    }

    &__btn:hover {
        background-color: #e46677;
    }
}