@use '../../../styles/vars' as *;

.filter-sort {
    // position: absolute;
    padding-top: 51px;
    padding-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    z-index: 6;
}

.filter {
    // margin-top: -13px;
    // padding: 13px 16px 16px;
    // position: relative;
    position: absolute;
    box-sizing: border-box;
    padding-left: 0;
    z-index: 599;
    cursor: pointer;

    &[open] {
        width: 360px;
        margin-top: -13px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading {
        padding: 13px 16px 16px;
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__heading {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;

        &__heading {
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 8px 11px 11px 11px;
            border-bottom: 1px solid #EBEBEB;
            border-left: 5px solid $colorSelectSite;
        }

        &[open] .filter__item__heading {
            color: $colorSelectSite;
        }
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;

    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.sort {
    padding-left: 390px;
    display: flex;
    gap: 28px;
    cursor: pointer;

    &__dtls {
        position: relative;

        &__title {
            display: flex;
            align-items: center;
            gap: 9px;
            list-style: none;
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__box {
            position: absolute;
            left: -9px;
            top: 22px;
            background: #FFF;
            box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
            padding: 7px 9px 11px;
            block-size: border-box;
            width: 79px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            z-index: 6;

            & input {
                margin-right: 6px;
            }

            &_trending-now {
                width: 90px;
            }

            &_price {
                width: 110px;
            }
        }
    }
}