@use '../vars' as *;

.regist {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

    &-left {
        width: 360px;

        &__title {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__input {
            width: 360px;
            border: 1px solid #A4A4A4;
            padding: 13px 16px 17px;
            margin-top: 20px;
            box-sizing: border-box;
        }

        &__gender-box {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 31px;
            margin-bottom: 33px;
        }

        &__gender {
            color: #222;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
            cursor: pointer;

            & label {
                margin-left: 10px;
            }

            & input[type="radio"] {
                display: none;
            }

            & input[type="radio"]+span {
                display: inline-block;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                border: 1px solid #A4A4A4;
                background-color: white;
                transition: background-color 0.3s ease;
            }

            & input[type="radio"]:checked+span {
                background-color: $colorSelectSite;
            }

            &_third-gender {
                display: none;
            }
        }

        &__pass-info {
            color: #B1B1B1;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 15px;
            margin-bottom: 39px;
        }

        &__button {
            &_style {
                padding: 16px 29px;
                background-color: $colorSelectSite;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 96px;
                border: none;
            }

            &_svg {
                padding-left: 20px;
            }
        }
    }

    &-right {
        width: 652px;

        &__title {
            color: #222;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__info {
            padding-top: 22px;
            padding-bottom: 22px;
            color: #222;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__list {
            color: #222;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            list-style-position: inside;
            list-style-type: none;

            &_item {
                padding-bottom: 16px;

                &::before {
                    content: url(../../assets/img/ui/marker.svg);
                    margin-right: 22px;
                }
            }
        }
    }
}

.error {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Дополнительно можно добавить анимацию появления ошибок */
.error-message.show {
    opacity: 1;
    transform: translateY(0);
}

.error-message {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}