.app {
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;

    &.light {
        background-color: #ffffff;
        color: #333333;
    }

    &.dark {
        background-color: #222222;
        color: #ffffff;
        width: 100vh;
        height: 100vh;
    }

    &__title {
        margin: 16px;
        display: flex;
        justify-content: space-between;
    }
}

.form-select {
    margin-bottom: 16px;
}

.list-group.light {
    background-color: #ffffff;
}

.list-group.dark {
    background-color: #222222;
}