@use '../../styles/vars' as *;

.loader {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &__spinner {
        width: 40px;
        height: 40px;
        border: 4px solid $bgColorSite;
        border-top: 4px solid $colorSelectSite;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    &__text {
        font-size: 14px;
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}