@use '../../styles/vars' as *;

.product {
    background-color: #fff;

    &__title {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 6px;
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        color: #9F9F9F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
    }

    &__items {
        position: relative; // для Loader (не уверен)
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 48px;
    }

    &__item {
        flex: 0 1 calc(33.333% - 20px);
        background-color: #F8F8F8;
        ;
    }

    &__img {
        max-width: 360px;
        max-height: 420px;
        width: 100%;
    }

    &__image-wrapper {
        position: relative;
    }

    &__image-wrapper:after {
        content: "";
        position: absolute;
        z-index: 5;
        inset: 0;
        background-color: rgba(58, 56, 56, 0.86);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    &__add {
        position: absolute;
        z-index: 15;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        border: 1px solid #fff;
        padding: 14px 16px 13px 50px;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        background-color: transparent;
        background-image: url("../../assets/img/ui/cart.svg");
        background-repeat: no-repeat;
        background-position: 13px 11px;
        cursor: pointer;
    }

    &__item:hover .product__image-wrapper:after {
        opacity: 1;
    }

    &__item:hover .product__add {
        opacity: 1;
    }

    &__content {
        margin-top: 25px;
        padding-left: 17px;
        padding-right: 22px;
        padding-bottom: 20px;
    }

    &__name {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__info {
        margin-top: 13px;
        margin-bottom: 18px;
        max-width: 329px;
        color: #5D5D5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__price {
        color: $colorSelectSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__add-btn {
        display: block;
        margin: 0 auto;
        border: 1px solid;
        background: none;
        padding: 14px 38px;
        color: $colorSelectSite;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s;
    }

    &__add-btn:hover {
        color: #FFF;
        background-color: $colorSelectSite;
    }
}